<html>
    <head>
        <title>@ViewData["Title"] - Purchaseapp</title>
        <link href="~/css/produtos.css" rel="stylesheet" type="text/css" />
        <link href="~/css/app.css" rel="stylesheet" type="text/css" />
        <link href="~/css/autorizar.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.mask.js"></script>

        
    </head>
    <body>
        <div class="container">
        <div class="title">
            <h1>Loja Online</h1>
        </div>
        
        @RenderBody()
        </div>
    </body>
</html>