<html>
    <head>
        <title>@ViewData["Title"] - Purchaseapp</title>
    </head>
    <body>
        <div style="text-align:center;">
            <h1>PurchaseApp</h1>
        </div>
        <div style="width:50%; margin: 0 auto;">
        @RenderBody()
        </div>
    </body>
</html>