<html>
    <head>
        <title>@ViewData["Title"] - Purchaseapp</title>
        <link href="~/css/compra.css" rel="stylesheet" type="text/css" />
        <link href="~/css/produtos.css" rel="stylesheet" type="text/css" />
        <link href="~/css/app.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
        <div class="title">
            <h1>Loja Online</h1>
        </div>
        
        @RenderBody()
        </div>
    </body>
</html>