@model string

<div style="text-align: center;">
    Cancelamento do pedido @Model feito com sucesso.
    <br />
    Caso queira realizar outra compra, @Html.ActionLink("clique aqui", "Produtos", "Home").
</div>